
@using MemberManager.Models.ViewSearchModel;
@using MemberManager.Models.DbModels;

@model List<SendTypes>

<script type="text/javascript">

    $(function () {

        var thisForm = $("form[name='searchForm']");
        var searchButton = $("button[name='searchButton']");

        var delBtn = $(".delBtn");

        delBtn.click(function () {

            //var parentTr = $(this).parents("tr");
            //parentTr.attr("display","none");
        });

        searchButton.click(function () {

            $.ajax({
                dataType: 'json',
                //contentType: 'application/json; charset=utf-8',
                type: 'POST',
                url: '@Url.Action("Index", "SendTypes")',
                data: JSON.stringify({
                    products: FormDataSerializeJsonString(thisForm)
                }),
                success: function (result) {

                    //儲存成功
                    if (result.success) {

                        //alert(result.message);

                    } else {
                        alert(result.message);
                    }
                }
            });
        });
    });

</script>

<div class="text-center">
    <form name="searchForm" method="post" action="@Url.Action("Index","ProductTypes")" class="form-horizontal form-label-left">
        <div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h1>@(SendTypesSearchModel.ViewTitle)-查詢條件</h1>
                    <div class="form-group row">
                        @{
                            string sendTypesName = "";

                            SendTypesSearchModel parameters = ViewData["searchParameters"] as SendTypesSearchModel;
                            if (parameters != null)
                            {
                                sendTypesName = parameters.sendTypesName;

                            }
                        }
                        <label class="col-md-2 col-sm-2 col-xs-6">類別名稱</label>
                        <div class="col-md-2 col-sm-2 col-xs-6">
                            <input type="text" name="sendTypesName" class="form-control" value="@sendTypesName" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-5 col-sm-5 col-xs-12"></div>
                        <div class="col-md-2 col-sm-2 col-xs-12">
                            <button name="searchButton" class="btn btn-primary">查詢</button>
                            <a href="@Url.Action("Index", "SendTypes")" class="btn btn-info editBtn">清除</a>
                        </div>
                    </div>
                    <hr>
                    <h1>@(SendTypesSearchModel.ViewTitle)-查詢結果</h1>
                    <div class="row">
                        <div class="col-md-10 col-sm-10 col-xs-6"></div>
                        <div class="col-md-2 col-sm-2 col-xs-6 text-right">
                            <a href="@Url.Action("Edit", "SendTypes")" class="btn btn-success">新增</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table class="table table-striped jambo_table bulk_action" name="productsTable" style="border:3px #cccccc solid;" cellpadding="10" border='1'>
                                <thead>
                                    <tr>
                                        <td style="font-weight:bold;color:saddlebrown;width:70%;">產品類別</td>
                                        <td style="font-weight:bold;color:saddlebrown;width:15%;">排序</td>
                                        <td style="font-weight:bold;color:saddlebrown;width:15%;">功能</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        if (Model != null && Model.Count > 0)
                                        {
                                            foreach (SendTypes productTypes in Model)
                                            {
                                                <tr>
                                                    <td>@productTypes.name</td>
                                                    <td>@productTypes.sort</td>
                                                    <th class="bulk-actions">
                                                        <a href="@Url.Action("Edit", "SendTypes" , new { id = productTypes.id })" class="btn btn-primary editBtn">編輯</a>
                                                        <a href="@Url.Action("Removed", "SendTypes" , new { id = productTypes.id })" class="btn btn-danger delBtn">刪除</a>
                                                    </th>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>